body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: arial;
}

h1 {
  color: #66BFBF;
  font-family: 'Caveat', cursive;
  font-size: 5.625em;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  /* font-family: 'ZCOOL XiaoWei', serif; */
  font-family: 'Tenali Ramakrishna', sans-serif;
}

span {
  text-decoration: underline;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
p {
    line-height: 2;
}

.bottom-container {
  background-color: #66BFBF;
  color: #EAF6F6;
  margin-top: 30px;
  line-height: 2;
  padding: 50px 0 20px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.btn {
  background-color: #11999E;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 60px;
}
.btn:hover {
  background: linear-gradient(#30e3cb,#2bc4ad)
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
.footer-link{
  color: #11999E;
  font-family: 'ZCOOL XiaoWei', serif;
  padding: 10px 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}

.js {
  float: right;
  width: 25%;
  margin-left: 30px;
  clear: right;
}
.intro {
  width: 30%;
  margin: auto;
}
.middle-container {
  background-color: white;
  margin: 100px 0;
}

.pusheen {
  float: left;
  width: 25%;
  margin-right: 30px;
  clear: left;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.top-container {
  background-color: #d4f3ef;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
